* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: black;
    color: rgb(0, 255, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.main h2 {
    margin-top: 30px;
}

.main .subtitulo {
    margin-top: 40px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
}

h1 {
    margin-bottom: 30px
}

h3 {
    margin-top: 30px;
}

.icon {
    color: rgb(0, 255, 0);
}

a {
    color: rgb(0, 255, 0);
    text-decoration: underline;
    transition: 0.3s;
}

a:hover {
    color: rgb(0, 143, 0);
}

p {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
    max-width: 100%;
    text-align: center;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 0);
    border-radius: 4px;
    transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background: #00cc00;
}

@supports(scrollbar-width: thin) {
    body {
        scrollbar-width: thin;
        scrollbar-color: #00ff00 #1a1a1a;
    }
}

body li:last-of-type {
    margin-bottom: 30px;

}

li {
    font-size: large;
    margin-bottom: 15px;
    list-style: none;
    width: auto;
    max-width: 100%;
}

ul {
    width: 100%;
    max-width: 500px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

@media (max-width: 412px) {
    ul {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}