* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: rgb(0, 255, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    justify-content: space-between;
    width: 300px;
}

h1 {
    margin-bottom: 50px
}

.icon {
    color: rgb(0, 255, 0);
}

a {
    color: rgb(0, 255, 0);
    text-decoration: underline;
    transition: 0.3s;
}

a:hover {
    color: rgb(0, 143, 0);
}

hr {
    border: none;
    background-color: rgb(0, 255, 0);
    height: 1px;
    border-radius: 8px;
    width: 100vw;
    margin-top: 20px;
}

p {
    margin-top: 20px;
}